/* General styles */
* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, FontAwesome;
    font-size: 15px;
    min-height: 0;
    color: #bebebe;
}

window#waybar {
    opacity: 0.7;
    background: #000000;
}

/* Specific module styles */
#workspaces button {
    background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
    color: white;
}

#workspaces button.urgent {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 7px;
}

#mode {
    font-family: "Iosevka";
    color: black;
    background: white;
}

#battery {
    /* margin: top right bottom left; */
    margin: 8px 2px 8px 2px;
    border-radius: 5px;
}

#network {
    border-radius: 6px;
}


/* Animations */
@keyframes critical {
    to {
        background: rgba(187,56,0, 1);
        border-radius: 7px;
    }
}

@keyframes urgent {
    to {
        background: rgba(212,140,0, 1);
        color: black;
        border-radius: 7px;
    }
}

#battery.critical:not(.charging) {
    animation-name: critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    font-family: Manjari;
}

#custom-weather {
    font-family: Manjari;
}

#custom-music {
    font-family: Manjari;
}

#custom-wlsunset {}

#pulseaudio {
    background: transparent;
}

#custom-power {
    /* margin: top right bottom left; */
    margin:0px 3px 0px 5px;
    border-radius: 6px;
}

#tray {
    /* margin: top right bottom left; */
    margin: 8px 2px 8px 2px;
    background: rgba(40,40,40, .65);
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
}

#idle_inhibitor {
    background: transparent;
    border-radius: 6px;
}
