\* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, FontAwesome;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    opacity: 0.7;
    background: #000000;
    color: #bebebe;
}

#workspaces button {
    color: #bebebe;
    background: transparent;
    padding: 0px 5px 0px 5px;
    margin: 5px 10px 0 10px;
}
#workspaces button.focused {
    color: white;
    margin: 5px 10px 0 10px;
}

#workspaces button.active {
    color: white;
    margin: 5px 10px 0 10px;
}

#workspaces button.urgent{
    margin: 5px 10px 0 10px;
    padding: 0px 8px 0px 8px;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 7px;
     }
#mode {
    font-family: "Iosevka";
    margin: 0px 15px 0px 15px;
    padding: 0px 12px 0px 12px;
    color: black;
    background: white;
}

#battery{
    margin:7px 4px 0 4px;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    }

#network {
    margin:7px 4px 0 4px;
    border-radius: 6px;
    padding: 0px 8px 0px 8px;
}

@keyframes critical {
    to {
    background: rgba(187,56,0, 1);
    border-radius: 7px;
    margin:7px 4px 0 4px;
    padding: 3px 8px 2px 8px;
    }
}
@keyframes urgent {
    to {
    background: rgba(212,140,0, 1);
    color: black;
    border-radius: 7px;
    }
}

#battery.critical:not(.charging) {
    padding: 0px 6px 0px 6px;
    color: white;
    animation-name: critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    margin:7px 0 0 13px;
    font-family: Manjari;
    font-size: 16.5px;
    border-radius: 6px;
    padding: 3px 6px 2px 0px;
}

#clock:hover {
 background: rgba(40,40,40, .95);
}


#backlight {
    margin:7px 4px 0 4px;
    border-radius: 5px;
    padding: 3px 8px 2px 8px;
}

#pulseaudio {
    margin:7px 4px 0 4px;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
}

#tray {
    margin: 7px 15px 0 4px;
    background: rgba(40,40,40, .65);
    border-radius: 6px;
    padding: 0px 5px 0px 5px;
}

#idle_inhibitor {
    margin: 7px 4px 0 4px;
    border-radius: 6px;
    padding: 0px 5px 0px 5px;
}
